#footer {
  clear: both;
  margin: 0 auto;
  color: #999;
  text-align: center;
  padding: 20px 0;
  font-size: 11px;
  border-top: 1px solid #ccc;
  font-family: 'Quattrocento Sans', sans-serif;

  span {
    display: inline block;
    margin-left: 5px;
  }
}
