// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic);
@import "compass/css3/images";
@import 'header';
@import 'footer';
@import 'navigation';
@import 'sponsors';

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px;
  color: #999;
  height: 120%;
  @include background-image(linear-gradient(#ccc, #fff));
}

a {
  color: #696969;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

hr { clear: both }

#emphasis {
  text-align:center;
  font-size:large;
  background: #f0f8ff;
  padding: 5px;
  margin-bottom:12px;
}

#container {
  margin: 0 auto;
  padding-left: 15px;
  width: 960px;
  background: #fff;
}

#maincont {
  clear: both;
  width: 920px;
  line-height: 180%;
  margin-top: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 1px solid #ccc;

  p {
    margin: 0 0 10px 0;
  }

  div#details {
    padding: 5px;
    background: #f0ebe4;
    font-size: 1.05 em;
    color: #000;
    width: 650px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  h1 {
    margin: 10px 0;
    color: #999;
    font-size: 1.7em;
    font-weight: bold;
  }

  h2 {
    margin: 8px 0 5px 0;
    color: #999;
    font-size: 1.4em;
    font-weight: bold;
  }

  h3 {
    margin: 6px 0 6px 0;
    color: #999;
    font-size: 1.25em;
    font-weight: bold;
  }

  h4, h5 {
    margin: 4px 0 4px 0;
    color: #999;
    font-size: 1.15em;
    font-style:italic;
  }

  img.imgright {
    float: right;
    border: 1px solid #CCC;
    margin: 0 0 10px 15px;
    padding: 5px;
  }

  img.imgleft {
    float: left;
    border: 1px solid #CCC;
    margin: 0 15px 10px 0;
    padding: 5px;
  }

  ul {
    list-style-type: square;
    color: #000;
  }

  ul li span {
    color: #333;
  }

  ol {
    margin: 0 0 15px 30px;
    color: #999;
  }

  ol li span {
    color: #333;
  }
}

#mainleft {
  float: left;
  width: 670px;
}

#mainright {
  float: left;
  margin: 5px 0 0 40px;
}

#mainright span {
  text-align:center;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

button#register {
  float: right;
  margin: 15px 15px 0 0;
  font-size: 14px;
  background-color: #759ae9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #759ae9), color-stop(50%, #376fe0), color-stop(50%, #1a5ad9), color-stop(100%, #2463de));
  background-image: -webkit-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -moz-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -ms-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -o-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -moz-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #1a5ad9;
  width: 150px;
}

button#register:hover {
  background-color: #5d89e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d89e8), color-stop(50%, #2261e0), color-stop(50%, #044bd9), color-stop(100%, #0d53de));
  background-image: -webkit-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
  background-image: -moz-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
  background-image: -ms-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
  background-image: -o-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
  background-image: linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
  cursor: pointer;
}

button#register:active {
  border-top: 1px solid #1b4db3;
  border-right: 1px solid #174299;
  border-bottom: 1px solid #133780;
  border-left: 1px solid #174299;
  -webkit-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
  -moz-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
}

#bag-pickup-encouraged {
  clear: both;
}

#bag-pickup {
  margin-top: 20px;

  #left {
    float: left;
  }

  #right {
    float: left;
    margin-left: 40px;
  }
}

#road-runner-address {
 float: left;
 margin-top: 20px;
 clear: both;
}
