@import "compass/utilities/general/clearfix";

#sponsor {
  clear: both;
  margin-top:20px;
  postion: relative;

  div {
    height: 200px;
    width: 306px;
    float: left;
    text-align: center;
    @include clearfix;


    img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
