<p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.rescuerun.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></p>
<h1>About us</h1>

<h2>Our mission</h2>
<pPetPromise is dedicated to helping to create a world where there are no more homeless pets through education, rescue, sterilization, and adoption. </p>

<h3>What we are doing</h3>
<ul>
    <li>rescuing stray animals from the streets and from animal shelters where they are on death row and often minutes away from euthanasia. </li>
    <li>working to secure a no-kill sanctuary where rescued pets can be safely sheltered until we can find them adoptive homes</li>
    <li>providing medical care to neglected, abused and injured animals </li>
    <li>rehabilitating hard-to-adopt animals and finding them loving homes </li>
    <li>providing spay and neuter services for feral cats and pet owners with financial need in order to drastically reduce the number of unwanted animals in our community </li>
</ul>

<h3>PetPromise...</h3>
<img alt="cat_thumbnail (13K)" src="images/cat_thumbnail.jpg" class="imgright" height="120" width="160" />

<ul>
    <li>is a non-profit, tax-exempt, 501(c)(3) organization.</li>
    <li>does not have a shelter or sanctuary. All of the pets available for adoption are cared for in volunteer foster homes until they are adopted.</li>
    <li>is a no-kill animal welfare organization and does not support euthanasia as a method of population control.</li>
    <li>helps many pets that other shelters and rescues would consider "unadoptable" due to age, medical condition, or breed.</li>
    <li>maintains many programs designed to support our mission: creating a world where there are no homeless pets.</li>
    <li>receives no governmental funding. PetPromise is supported solely by public and private donations and volunteer fundraising.</li>
</ul>


<h3>History</h3>

<p>The founders of PetPromise began rescuing and finding homes for stray cats and dogs in 1996.
The founders along with a network of other people interested in the welfare of homeless companion animals formed PetPromise in 1999.
PetPromise was officially incorporated on February 4, 2000.</p>

<p>Visit our website: <a href="http://www.petpromise.org"><b>petpromise.org</b></a></p>
