<img alt="PetPromise Rescue Run - Saturday, May {{ day }} {{ year }}" src="images/billboard.png" width="660" />
<!--
{{> facebook-like }}
<div id='details'>
  Download:<br />
  <a href="documents/{{ year }}-pledge-sheet.pdf" target="_blank">2015 Rescue Run Registration Brochure and Pledge Sheet</a><br />
  <a href="documents/{{ year }}-managing-fundraising.pdf" target="_blank">How to Set Up Your Fundraising Page</a><br />
</div>
<h1> Race Bag Pick-up</h1>
<p>
  Thursday, May 21, 4PM - 8PM<br/>
  Friday, May 22, 12PM - 8PM
</p>
<p>
  Road Runner Sports<br/>
  535 Lakeview Plaza Blvd.<br/>
  Worthington, OH 43085 <a href="http://goo.gl/uQzH7Q" target="_blank">[map]</a>
</p>
-->
<h1> What is the Rescue Run?</h1>
<p>
  The PetPromise Rescue Run is a 5K run/walk and festival held annually on Memorial Day weekend at McFerson Commons park in the Arena District. It promotes awareness of the pet overpopulation problem and supports efforts to change the future for all homeless pets through education, rescue, sterilization, and adoption.
</p>
<h2>Please be sure to visit our sponsors.</h2>
<p>
  These companies care about homeless animals in our community. Our sponsors underwrite all of the event's expenses. In appreciation of their support and concern for animals, we encourage you to frequent their businesses.
</p>
<h2>Your entry fees and pledges make a difference for homeless pets!</h2>
<p>
  Each year PetPromise rescues and provides food and medical care to hundreds of homeless, unwanted, and abused dogs and cats. For most of these animals, PetPromise is thier last hope. Your entry fee and pledges will help give homeless pets a second chance.
</p>

