<img alt="PetPromise Rescue Run - Saturday, May {{ day }} {{ year }}" src="images/billboard.png" width="660" />
{{> facebook-like }}
<div id='details'>
    <h4> Ready... Set...</h4>
    <p>
        Registration required by 5/23.<br />
        Please pick up your race bags and numbers at:<br />
    </p>
    <p>
        Road Runner Sports <a href='https://www.google.com/maps/place/535+Lakeview+Plaza+Blvd/@40.112694,-83.002088,17z/data=!3m1!4b1!4m2!3m1!1s0x8838f35b6399195d:0x694f0c142e8fedd7' target="_blank">[map]</a><br />
        535 Lakeview Plaza Blvd<br />
        Worthington, OH 43085
    </p>
    <p>
        Thursday, May 22 4:00 PM - 8:00 PM<br/>
        Friday, May 23 12 noon - 8:00 PM
    </p>
    <p>
        A limited number of race bags will be available for pickup at McFerson Commons Park<br/>from 8:00 am - 9:30 am on race day.
    </p>
    <h4>Go!</h4>
    <a href="register.html">Click here to register</a>
</div>
<h1> What is the Rescue Run?</h1>
<p>
    The PetPromise Rescue Run is a 5K run/walk and festival held annually on Memorial Day weekend at McFerson Commons park in the Arena District. It promotes awareness of the pet overpopulation problem and supports efforts to change the future for all homeless pets through education, rescue, sterilization, and adoption.
</p>
<h2>Please be sure to visit our sponsors.</h2>
<p>
    These companies care about homeless animals in our community. Our sponsors underwrite all of the event's expenses. In appreciation of their support and concern for animals, we encourage you to frequent their businesses.
</p>
<h2>Your entry fees and pledges make a difference for homeless pets!</h2>
<p>
    Each year PetPromise rescues and provides food and medical care to hundreds of homeless, unwanted, and abused dogs and cats. For most of these animals, PetPromise is thier last hope. Your entry fee and pledges will help give homeless pets a second chance.
</p>

