<p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.rescuerun.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></p>
<h1>Register to run or walk in the 2014 Rescue Run!</h1>
<h2>Schedule of Events</h2>		
<blockquote>Registration: 8:00 AM to 9:30 AM<br />
    Race begins: 10:00 AM<br />
    Top fundraisers announced: 12 noon</blockquote>

<h2>Registration Fees</h2>
<p>
General registration: <b>$30</b> per walker/runner<br />
The fee is waived for participants who collect at least $30.00 in pledges.</p>


<h3>I plan to raise funds in addition to my registration fee</h3>

<p>Set up your own online fundraising page on <a href="http://www.firstgiving.com/rescuerun/2014">Firstgiving</a>. 

We encourage you to take advantage of this great fundraising tool and create a personal web page to help raise money online for the homeless animals in our community. 

You can also start a team fundraising page.</p>


<p>You may also round up pledges by printing the <a href="RR2013_registration_form_with_pledge_form.pdf" target="_blank">race brochure</a>.

Invite your friends, family, neighbors, classmates, and co-workers to support PetPromise and our fight to help homeless animals throughout central Ohio by sponsoring you in the Rescue Run. 

Collect at least $30 in pledges and your entry fee is waived!

Fundraising prizes are based on monies raised.</p>

<h3>I am not collecting pledges, just paying for registration and running/walking myself</h3>
kp>You may pre-register either <a href="https://www.premierraces.com/registration/register_step1.asp?eventID=1006">online at Premier Sports</a> or by priniting the race brochure (coming soon) and mailing it on or before May 15, 2013.</p>
