{{> facebook-like }}
<h1>Sponsor the {{ year }} PetPromise Rescue Run!</h1>
<div id='details'>
    Download:<br />
    <a href="documents/{{ year }}-sponsorship-levels.pdf" target="_blank">Sponsorship levels description</a><br />
    <a href="documents/{{ year }}-sponsor-contract.docx" target="_blank">Sponsorship contract</a>
</div>

<h2>Platinum - $5,000 (limited to one)</h2>
<ul>
    <li>
        The company name/logo will be incorporated in the race name (i.e. 13th Annual PetPromise Rescue
        Run presented by [Your Company's Name])
    </li>
    <li>The company will be publicized as the PLATINUM sponsor in all pre-event website, email, social
        media, radio, television, and newspaper advertising.</li>
    <li>Promotion on the Rescue Run website (company name and/or logo) and social media such as
        Facebook and Twitter.</li>
    <li>The company name or logo will be the primary focus on registration brochures, promotional flyers, all event shirts distributed to registrants, and race banners.</li>
    <li>Prime booth location near the front of the park including three tents, tables, chairs and signage.</li>
    <li>Opportunity for company representative to participate in the opening ceremonies and post-race
        award ceremony.</li>
    <li>Opportunity for company representative to address the participants onstage before race.</li>
    <li>Company information included in race packets.</li>
    <li>Four 30-second spots presented by the DJ during the event.</li>
    <li>14 complimentary race entries.</li>
</ul>

<h2>Gold - $2,500</h2>
<ul>
    <li>The company will be publicized as a GOLD sponsor in pre-event website, email, social media, radio,
        television, and newspaper advertising.</li>
    <li>The company name or logo will be printed in second-largest print on registration brochures, promotional flyers, all event shirts distributed to registrants, and race banners.</li>
    <li>Promotion on the Rescue Run website (company name and/or logo) and social media such as
        Facebook and Twitter</li>
    <li>Provided double booth space including two tents, tables, chairs and signage in the front half of the
        park</li>
    <li>Company information included in race packets</li>
    <li>Two 30-second spots presented by the DJ during the event.</li>
    <li>10 complimentary race entries</li>
</ul>

<h2>Silver - $1,000</h2>
<ul>
    <li>The company name or logo will be printed in third-largest print on registration brochures, promotional flyers, all event shirts distributed to registrants, and race banners.</li>
    <li>Provided single booth space plus table, chairs and signage</li>
    <li>Promotion on the Rescue Run website (company name and/or logo)</li>
    <li>Company information included in race packets</li>
    <li>Two 10-second spots presented by the DJ during the event.</li>
    <li>6 complimentary race entries</li>
</ul>

<h2>Bronze - $500</h2>
<ul>
    <li>Provided single booth space plus table, chairs and signage.</li>
    <li>Company information included in race packets.</li>
    <li>The company name or logo will be printed on registration brochures, promotional flyers, all event shirts distributed to registrants.</li>
    <li>Promotion on the Rescue Run website (company name and/or logo).</li>
    <li>Booth space, tent, table and signage at the race.</li>
    <li>4 complimentary race entries.</li>
</ul>

<h2>Supporting</h2>

<ul>
    <li>Company name listed in regular type-set (no logo) on the PetPromise Rescue Run website.</li>
    <li>Provided 10 x10 booth space (must supply a 10 x 10 tent, table and chairs for their booth.)</li>
</ul>
<p>
    Supporting sponsors are required to provide free promotional items of nominal value at their booth for race participants and attendees (approximately 1,000 items).
</p>
