<p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.rescuerun.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></p>
<h1>Booths at the 2014 PetPromise Rescue Run</h1>
<img alt="Rescue Run vendor booths" src="images/vendors.jpg" width="500" />
<h2>Nonprofit animal rescue organizations</h2>
<p>A limited number of spaces are available for nonprofit animal rescue organizations to bring adoptable animals to meet with the public.</p>
<div id="emphasis"><a href="RR2013 NPO Registration.pdf" name="2013 Rescue Run NPO Application" target="_blank">2013 Rescue Run Nonprofit Organization Application</a></div>

<h2>Vendors</h2>
<p>A limited number of spaces are available for craftspeople and independent small business owners to sell their products.</p>
<div id="emphasis"><a href="VendorApplicationRR2013.pdf" name="2013 Rescue Run Vendor Application" target="_blank">2013 Rescue Run Vendor Application</a></div>

<h4>Already a vendor? Help us publicize the 2013 PetPromise Rescue Run!</h4>  <p>Please link to our event web site: <a href="http://rescuerun.com">www.rescuerun.com</a>.  Contact A.M. by voicemail at (614) 738-2149 or by email at <a href="mailto:rescuerun@petpromise.org?subject=2013 PetPromise Rescue Run">rescuerun@petpromise.org</a> if you would like flyers and/or yard signs to help promote this unique and fun event!</p>
