<p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.rescuerun.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></p>
<h1>Volunteer at the 2014 Rescue Run!</h1>
<p>Contact us to sign up for volunteer opportunities: <a href="mailto:rescuerun@petpromise.org?subject=Rescue Run Volunteer Inquiry">rescuerun@petpromise.org</a></p>

<h3>Upcoming volunteer activities</h3>
<h4>May the Fourth Be with You Rescue Run Yard Sign Blitz</h4>
<p>Saturday, May 4, 2013<br />
10:00 AM to 11:30 AM<br />
4812 Kenny Road<br />
Columbus, Ohio 43220<br />
Stop by the site of the future PetPromise Animal Care and Adoption Center to pick up your Rescue Run yard signs! Sign up for a neighborhood or a ZIP code, or just take one or two signs for your yard and office.
</p>
<hr />
<h4>Race Bag Stuffing</h4>
<p>Sunday, May 19, 2013<br />
1:00 PM to 5:00 PM<br />
Old Worthington Library<br />
820 High Street<br />
Worthington, OH 43085<br /></p>
<hr />
<!-- Final volunteer meeting -->

<h4>Rescue Run Volunteers Meeting</h4>
<p>Tuesday, May 21, 2013<br />
7:00 PM to 9:00 PM<br />
Shepard Library Library<br />
790 North Nelson Road<br />
Columbus, OH 43219<br />
</p>

<p><img alt="PetPromise volunteer booth" src="images/petprm_booth.jpg" class="imgleft" width="448" /></p>
