<div id="footercont">
    <ul>
        <li>Copyright 2014 PetPromise, Inc.
        </li>
        <li>All rights reserved.
        </li>
        <li>4812 Kenny Road
        </li>
        <li>Columbus, Ohio 43220
        </li>
        <li>
        <a href=
            "mailto:rescuerun@petpromise.org?2014%20PetPromise%20Rescue%20Run">
            rescuerun@petpromise.org</a>
        </li>
        <li>
        <a href="http://petpromise.org">petpromise.org</a>
        </li>
    </ul>
</div>
