<div id="footer">
    <span>
        Copyright {{ now "%Y" }} PetPromise, Inc.
    </span>
    <span>
        All rights reserved.
    </span>
    <span>
        4812 Kenny Road
    </span>
    <span>
        Columbus, Ohio 43220
    </span>
    <span>
        <a href="mailto:rescuerun@petpromise.org?{{ year }}%20PetPromise%20Rescue%20Run">
            rescuerun@petpromise.org
        </a>
    </span>
    <span>
        <a href="http://petpromise.org">petpromise.org</a>
    </span>
</div>
