<div id="headercont">
    <div id="logo">
        <img alt="new_rr_graphic_card (30K)" src="images/logo.jpg"  />
    </div>
    <div id="quotecont">
        <p>
        Saturday, May 24th, 2014<br />
        Arena District, Columbus, Ohio
        </p>
    </div>
</div>
