<div id="header">
    <div id="logo">
        <img alt="14th Annual PetPromise Rescue Run" src="images/logo.jpg"  />
    </div>
    <div id="quotecont">
        <p>
        Saturday, May {{day}}, {{year}}<br />
        Arena District, Columbus, Ohio<br />
        10:00 AM
        </p>
    </div>
</div>
