<div id="header">
    <div id="logo">
      <a href='/'><img alt="14th Annual PetPromise Rescue Run" src="images/logo.jpg" /></a>
    </div>
    <div id="quotecont">
        <p>
        Saturday, May {{day}}, {{year}}<br />
        Arena District, Columbus, Ohio<br />
        {{start-time}}
        </p>
    </div>
</div>
