<div id="mainright">
    <div id="menu">
        <ul>
            <li>
            <a href="index.html">home</a>
            </li>
            <li>
            <a href="register.html">register</a>
            </li>
            <li>
            <a href="sponsor.html">sponsor</a>
            </li>
            <li>
            <a href="volunteer.html">volunteer</a>
            </li>
            <li>
            <a href="vendors.html">vendor info</a>
            </li>
            <li>
            <a href="about.html">about us</a>
            </li>
            <li>
            <a href="http://www.firstgiving.com/rescuerun/2014"><img src="http://www.firstgiving.com/Images/Badges/badge250_blue.png" width="175" alt="Firstgiving fundraise button" /></a>
            </li>
            <li>
            <iframe id='facebook-like' src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FPetPromiseInc&amp;width=170&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" allowtransparency="true" style='overflow:hidden;width:292px;height:60px;'></iframe>
            </li>
        </ul>
    </div>
</div>

