<div id="menu">
    <div>
        <a href="index.html">home</a>
    </div>
    <div>
        <a href="register.html">register</a>
    </div>
    <div>
        <a href="sponsor.html">sponsor</a>
    </div>
    <div>
        <a href="volunteer.html">volunteer</a>
    </div>
    <div>
        <a href="vendors.html">vendor info</a>
    </div>
    <div>
        <a href="about.html">about us</a>
    </div>
    <div>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FPetPromiseInc&amp;width=292&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;"
            allowtransparency="true"></iframe>
    </div>
</div>
<div>
    <button id='register' onclick='window.open("https://fundraising.active.com/event/PetPromiseRescueRun{{ year }}", "_blank");'>REGISTER</button>
</div>
