<div id="sponsor">
    <h3>
        Gold sponsor
    </h3>
    <div>
        <a href="http://www.aep.com/" target="_blank">
            <img alt="American Electric Power" src="images/sponsor/aep.gif" />
        </a>
    </div>
    <!--
    <hr />
    <h3>
        Silver sponsor
    </h3>
    <div>
        <a href="http://www.johnhancock.com/" target="_blank">
            <img alt="John Hancock Financial Network" src="images/sponsor/john-hancock.jpg"/>
        </a>
    </div>
    -->
    <hr />
    <h3>
        Bronze sponsors
    </h3>
    <div>
        <a href="http://americanleakdetection.com/" target="_blank">
            <img alt="American Leak Detection" src="images/sponsor/american_leak_detection.png" />
        </a>
    </div>
    <div>
        <a href="http://citypawshomehealth.com/" target="_blank">
            <img alt="City Paws Home Health" src="images/sponsor/city_paws_home_health.jpg"  />
        </a>
    </div>
    <div>
        <a href="http://www.parkyourpaws.org/" target="_blank">
            <img alt="Park Your Paws Doggie Daycare" src="images/sponsor/pyp.jpg"  />
        </a>
    </div>
    <div>
        <a href="http://www.universitymanors.com/" target="_blank">
            <img alt="University manors" src="images/sponsor/university-manors.png" />
        </a>
    </div>
    <hr />
    <h3>
        In-kind sponsors
    </h3>
    <div>
        <a href="http://www.petbutler.com/" target="_blank">
            <img alt="Pet Butler" src="images/sponsor/pet-butler.jpg" />
        </a>
    </div>
    <div>
        <a href="http://www.rascalunit.com/" target="_blank">
            <img alt="Rascal Unit" src="images/sponsor/rascal_unit.jpg" />
        </a>
    </div>
    <div>
        <a href="http://www.roadrunnersports.com/" target="_blank">
            <img alt="Road Runner Sports" src="images/sponsor/road-runner-sports.jpg" />
        </a>
    </div>
    <!--
    <div>
        <a href="http://www.fiatusaofdublinoh.com/index.htm/" target="_blank">
            <img alt="Crown Fiat" src="images/sponsor/crown-dublin.jpg" />
        </a>
    </div>
    <div>
        <a href="http://www.muttsandco.com/" target="_blank">
            <img alt="Mutts and Co" src="images/sponsor/mutts-and-co.png" />
        </a>
    </div>
    <div>
        <a href="http://www.roadrunnersports.com/" target="_blank">
            <img alt="Road Runner Sports" src="images/sponsor/road-runner-sports.jpg" />
        </a>
    </div>
    <div>
        <a href="http://www.nestle.com/brands/petcare/" target="_blank">
            <img alt="Nestle Purina Petcare" src="images/sponsor/purina.jpeg" />
        </a>
    </div>
    <hr />
    <h3>
        Supporting sponsors
    </h3>
    <h4>
        <a href="http://www.ohiokravmaga.com/" target="_blank">
            Ohio Krav Maga and Fitness
        </a>
    </h4>
    <h4>
        <a href="http://www.essentialhw.com/" target="_blank">
            Essential Health and Wellness
        </a>
    </h4>
    <h4>
        <a href="http://www.cousinvinnyspizza.com/cousin-vinnys-pizza-kenny-rd-columbus-oh.html" target="_blank">
            Cousin Vinny’s Pizza
        </a>
    </h4>
    <hr />
    <h3>
        Community sponsors
    </h3>
    <div>
        <a href="http://www.petbutler.com/" target="_blank">
            <img alt="Pet Butler" src="images/sponsor/pet-butler.jpg" />
        </a>
    </div>
    <div>
        <a href="http://www.e-arc.com/oh/columbus/" target="_blank">
            <img alt="ARC Document Solutions" src="images/sponsor/atlas.jpg" />
        </a>
    </div>
    <div>
        <a href="http://www.teamdj.com/" target="_blank">
            <img alt= "Team DJ" src="images/sponsor/team-dj.jpg" />
        </a>
    </div>
    <div>
        <img alt="Event Architecture Group" src="images/sponsor/event-architecture-group.jpg" />
    </div>
    <div>
        <a href="http://www.fleshmanphotography.com/" target="_blank">
            <img alt="Fleshman Photography" src="images/sponsor/fleshman-photo.jpg" />
        </a>
    </div>
    -->
</div>
